[Unit]
Description=CPU, Memory, Storage Monitoring system
After=networks.target

[Service]
Type=oneshot
WorkingDirectory=/root
ExecStart=/bin/bash /root/metric_checkup.sh
# ExecStart=/root/metric_checkup.sh

[Install]
WantedBy=multi-user.target